body {
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.advertising {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    color: #888888;
}