* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

.header {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    margin-top: 0px;
    margin-bottom: 27px;
    padding-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #010541;
    padding-bottom: 9px;
    z-index: 1;
    position: fixed;
    top: 0;
    min-width: 1400px;
    background-color: #FFFFFF; 
}

.market {
    color: #FF5722;
}

.header__logo {
    float: left;
    margin-right: 7px;
}

.header__counter {
    display: flex;
    flex-direction: row;
    gap: 28.11px;
    align-items: center;

}

.header__heart {
    position: relative;
    background-image: url(img/Vector-heart.png) ;
    display: block;
    width: 43.37px;
    height: 34.67px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__liked {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 26px;
    height: 20px;
    left: 24px;
    top: -6px;
    background: #F36223;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
   
}


.header__basket {
    position: relative;
    background-image: url(img/Vector-photo.svg);
    display: block;
    width: 41.09px;
    height: 39.09px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 12px;
}

.header__products {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30px;
    top: -6px;
    background: #F36223;
    border-radius: 50px;
    padding: 3px 6px;
    display: none;
}

.counter__basket {
    display: block;
}

.navigation {
    display: flex;
    gap: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    margin-top: 99px;
}

.navigation__link {
    color: #008CF0;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.navigation__link:hover {
    color: #F36223;
}

.navigation__link:active {
    color: #A93A09;
}

.title {
    margin: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.gallery {
    display: flex;
    gap: 10px;
}

.gallery__img {
    height: 387px;
}

.information {
    display: flex;
    gap: 100px;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.product-selection {
    display: flex;
    gap: 10px;
}

.product-selection__label label {
    border: 1px solid #888888;
    border-radius: 4px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 24.54px;
}

.product-selection__label input[type=radio] {
    display: none;
}

.product-selection__img {
    width: 30.92px;
    height: 60px;
}

.product-selection__img_size {
    width: 44.45px;
    height: 60px;
}


.product-selection__label label:hover {
    background: #F2F2F2;
    cursor: pointer;
}

.product-selection__label input[type=radio]:checked + label {
    border: 2px solid #F36223;
    background: transparent;
    cursor: pointer;
}

.product-selection__label input[type=radio]:active + label {
    border: 2px solid #A93A09; 
    background: transparent;
} 

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 10px 20px;
    box-sizing: border-box;  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.form_radio_btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
	cursor: pointer;
	padding: 10px 20px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.form_radio_btn label:hover {
    background: #F2F2F2;
    cursor: pointer;
}

.form_radio_btn input[type=radio]:checked + label {
    border: 2px solid #F36223;
    border-radius: 4px;
    background: transparent;
}

.form_radio_btn input[type=radio]:active + label {
    border: 2px solid #A93A09;
    background: transparent;
    border-radius: 4px;
}   

.list {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 0;
    list-style: none;
}

.list__item {
    margin-bottom: 10px;
}

.list__item:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #888888;
    border-radius: 50%;
    margin-right: 10px;
}

.list__item:last-child {
    margin-bottom: 0;
}

.text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.table {
    border-collapse: collapse;
    border: 1px solid #888888;
    width: 100%;
}

.table__thead {
    border: 1px solid #888888;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;  
    color: #000000;
}

.table__cell {
    border-right: 1px solid #888888; 
    padding: 10px;
    white-space: nowrap;
}

.table__td {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.table__row:hover {
    background: #F2F2F2;
}

.header-reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 30px;
}

.header-reviews__amount {
    display: flex;
    gap: 10px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.header-reviews__reviews {
    color: #000000;
    margin: 0;
}

.header-reviews__quantity {
    color: #888888;
}

.user {
    display: flex;
    gap: 30px;
}

.user__img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
}

.user__rating {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user__product-evaluation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user__name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.user__stars {
    display: flex;
}

.user__stars-img{
    width: 30px;
    height: 30px;
}

.user__opinion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user__opinion-text {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
}

.separator {
    border-top: 1px dashed #888888;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.form__input {
    display: flex;
    gap: 40px;
    /* margin-bottom: 30px; */
}

.form__withError {
    margin-bottom: 46px;
    position: relative;
}

.form__name {
    padding: 15px 20px;
    width: 495px; 
    border: 1px solid #888888;
}

.form__error {
    background: #DA4A0C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 8px 20px;
    position: absolute;
    width: 100%;
    display: none;
}

.error__error {
    display: block;
}

.form__number {
    padding: 15px 20px;
    width: 175px;
    border: 1px solid #888888;
}

.error-border {
    border: 1px solid #DA4A0C;;
    display: block;
}


.form__review {
    padding: 15px 20px;
    width: 100%;
    height: 190px;
    resize: none;
    border: 1px solid #888888;
}

.input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


.input:hover {
    border: 1px solid #000000;
}

.input:focus {
    border: 1px solid #000000;
    outline: none;
}

.form__btn {
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 100px;
    border-color: transparent;
}

.form__btn:hover {
    background: #DA4A0C;
}

.form__btn:active {
    background: #A93A09;
}

.aside {
    min-width: 420px;
} 

.aside__product-price {
    width: 100%; 
   background: #FFFFFF;
   border: 1px solid #EEEEEE;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   box-sizing: border-box;
   margin-top: 30px;
   margin-bottom: 40px;
}

.aside__container {
    padding: 20px;
}

.aside__container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.aside__container-price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.aside__container-old-price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
    margin: 0px;
}

.aside__container-discount {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 47px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    box-sizing: border-box;
    margin: 0px;
}

.aside__heart {
    fill: #888888;
    cursor: pointer;
}

.aside__heart:hover {
    fill: #F36223;
}

.aside__heart:active {
    fill: #A93A09;
}

.aside__container-new-price {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin: 0px;
    margin-bottom: 15px;
}

.aside__container-pickup {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0px;
    margin-bottom: 10px;
}

.aside__container-delivery {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0px;
    margin-bottom: 35px;
}

.aside__button {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 100%;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    padding: 10px 20px;
    border-color: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16.98px;
}

.aside__button:hover {
    background: #DA4A0C;
    cursor: pointer;
}

.aside__button:active {
    background: #A93A09;
}

.aside__button::before {
    content: "";
    display: inline-block;
    background-image: url(img/Vector-2.svg);
    width: 19.72px;
    height: 18.76px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.advertising {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin: 0;
    margin-bottom: 10px;
}

.iframe__banner {
    border: 1px dashed #ccc;
    box-sizing: border-box;
    width: 100%;
}

.iframe__banner_indent {
    margin-bottom: 15px;
}

.footer {
    background: #F2F2F2;
    font-size: 14px;
    padding: 30px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    margin: 0;
}

.website {
    color: #F36223;
}

.ref {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}


@media screen and (min-width: 1024px) and (max-width: 1499px)  {

    .container {
        padding: 0px 15px;
        margin: 0 auto;
        max-width: 1024px;
    }

    .header {
        min-width: 994px;
    } 

    .gallery__img {
        height: 272px;
    } 
    
    .user__img {
        width: 100px;
        height: 100px;
    }

    .user__stars-img {
        width: 20px;
        height: 20px;
    }

    .aside {
        min-width: 360px;
    }
     
    .information {
        gap: 40px;
    }

    .table__information {
        display: none;
    }

    .form {
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
    }

    .form__name {
        width: 379px;
    }

    .form__btn {
        margin-bottom: 80px;
    }

    .iframe__banner_indent {
        margin-bottom: 10px;
    }

    .aside__container-header {
        margin-bottom: 14px;
    }
    
}   


