.footer {
    background: #F2F2F2;
    font-size: 14px;
    padding: 30px 0;
  }
  
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__text {
    margin: 0;
  }
  
  .website {
    color: #F36223;
  }
  
  .ref {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
  }
  