.header {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    margin-top: 0px;
    margin-bottom: 27px;
    padding-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #010541;
    padding-bottom: 9px;
    z-index: 1;
    position: fixed;
    top: 0;
    min-width: 1400px;
    background-color: #FFFFFF; 
}
  
  
.header__logo {
    float: left;
    margin-right: 7px;
}

.header__products {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #081658;
    width: 14px;
    height: 14px;
    border: 1px solid #081658;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30px;
    top: -8px;

}

.header__counter {
    display: flex;
    flex-direction: row;
    gap: 28.11px;
    align-items: center;

}

.header__heart {
    position: relative;
    background-image: url(../../../public/img/heart.png) ;
    display: block;
    width: 43.37px;
    height: 34.67px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__liked {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 26px;
    height: 20px;
    left: 24px;
    top: -6px;
    background: #F36223;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
   
}

.header__basket {
    position: relative;
    background-image: url(../../../public/img/cart.svg);
    display: block;
    width: 41.09px;
    height: 39.09px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 12px;
}

.header__products {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30px;
    top: -6px;
    background: #F36223;
    border-radius: 50px;
    padding: 3px 6px;
    display: block;
    border-color: transparent;
}

.counter__basket {
    display: block;
}


@media screen and (min-width: 1024px) and (max-width: 1499px)  {

    .header {
        min-width: 994px;
    } 

}   
