.block-form { 
    display: flex; 
    flex-direction: column; 
    width: 710px; 
} 

.block-form_margin-left_170 { 
    margin-left: 170px; 
} 

.block-form_margin-top_60 { 
    margin-top: 60px; 
    margin-bottom: 100px; 
} 

.block-form__title { 
    margin-bottom: 15px; 
} 

.block-form__input-form { 
    display: flex; 
    flex-direction: column; 
} 

.block-form_position { 
    display: flex; 
    flex-direction: row; 
    position: relative; 
} 

.block-form__name { 
    margin-right: 40px; 
    padding: 15px 20px; 
    width: 495px; 
    height: 49px; 
    border: 1px solid #888888; 
    box-sizing: border-box; 
    outline: none; 
    position: relative; 
    font-size: 16px; 
} 

.block-form__error-name { 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    width: 495px; 
    height: 31px; 
    font-size: 12px; 
    color: #FFFFFF; 
    background: #DA4A0C; 
    position: absolute; 
    left: 0; 
    padding: 8px 20px; 
    box-sizing: border-box; 
    display: none; 
} 

.block-form__error-name_block { 
    display: block; 
} 

.block-form__error-rating { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 175px; 
    height: 31px; 
    font-size: 12px; 
    color: #FFFFFF; 
    background: #DA4A0C; 
    position: absolute; 
    right: 0; 
    z-index: 5; 
    padding: 3px 20px; 
    box-sizing: border-box; 
    display: none; 
} 

.block-form__error-rating_block { 
    display: block; 
} 

  .block-form__text-error-name { 
    /* width: 455px; 
    height: 15px; */ 
    font-size: 12px; 
    color: #FFFFFF; 
  } 
.block-form__text-error-rating { 
    /* width: 135px; 
    height: 15px; */ 
    font-size: 12px; 
    color: #FFFFFF; 
} 

.block-form__rating { 
    padding: 15px 20px; 
    width: 175px; 
    height: 49px; 
    border: 1px solid #888888; 
    outline: none; 
    box-sizing: border-box; 
    position: relative; 
    font-size: 16px; 
} 

.block-form__text-review { 
    width: 710px; 
    height: 190px; 
    padding: 15px 0px 0px 20px; 
    border: 1px solid #888888; 
    outline: none; 
    box-sizing: border-box; 
    resize: none; 
    font-size: 16px; 
    font-family: sans-serif; 
} 

.block-form__text-review_margin-top-bottom_30 { 
    margin-top: 31px; 
    margin-bottom: 30px; 
} 

.block-form__button { 
    padding: 0px 20px; 
    gap: 10px; 
    width: 177px; 
    height: 39px; 
    background: #f36223; 
    border: 1px solid #f36223; 
    color: white; 
    border-radius: 4px; 
    border: none; 
    box-sizing: border-box; 
    cursor: pointer; 
    font-size: 16px; 
}