* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.container {
max-width: 1500px;
margin: 0 auto;
padding: 0 50px;
}


.main {
    height: calc(100vh - 111px);
    padding-top: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
