.user {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.users {
    display: flex;
    gap: 30px;
}
    
.user__img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
}
    
.user__rating {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
.user__product-evaluation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    
.user__name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}
    
.user__stars {
    display: flex;
}
    
.user__stars-img{
    width: 30px;
    height: 30px;
}
    
.user__opinion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    
.user__opinion-text {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
}
    
.separator {
    border-top: 1px dashed #888888;
    margin-top: 40px;
    margin-bottom: 40px;
}
    